In [206]:
import pandas as pd

In [207]:
df = pd.read_csv("1940_1percent_NYstate.csv", header=0)
# df = pd.read_csv("1940_1percent_NYstate.csv", header=0, usecols=['year','citymetd', 'sex', 'labforce'])

C:\Users\juarezfd\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3437: DtypeWarning: Columns (51,66,83) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [208]:
df = pd.read_csv("1940_1percent_NYstate.csv", header=0, usecols=['year','citymetd', 'sex', 'age', 'labforce', 'marst', 'nchild', 'hhtype', 'famsize'])

In [209]:
df_sample = df.sample(4000)

In [236]:
df_sample.shape #gives you the row and column

(4000, 9)

In [211]:
df['sex'].unique()

array(['male', 'female'], dtype=object)

In [212]:
df['labforce'].unique()

array(['yes, in the labor force', 'no, not in the labor force'],
      dtype=object)

[How to Create a New Column Based on a Condition in Pandas](https://www.statology.org/create-column-based-on-condition-pandas/)

[Pandas Check Column Contains a Value in DataFrame](https://sparkbyexamples.com/pandas/pandas-check-column-contains-a-value-in-dataframe/#:~:text=Pandas%20%2F%20Python%20You%20can%20check%20if%20a,a%20column%20contains%20a%20particular%20value%20with%20examples.)

In [213]:
df['hhtype'].nunique()

7

In [214]:
hhtype_values = df['hhtype'].unique()
hhtype_values

array(['married-couple family household', nan,
       'male householder, no wife present',
       'male householder, living alone',
       'female householder, no husband present',
       'female householder, living alone',
       'male householder, not living alone',
       'female householder, not living alone'], dtype=object)

In [215]:
print(hhtype_values[4], hhtype_values[5])

female householder, no husband present female householder, living alone

In [216]:
def male_abscent(row):
    if row['hhtype'] == 'female householder, living alone':
        val = True
    elif row['hhtype'] == 'female householder, living alone':
        val = True
    elif row['hhtype'] == 'female householder, not living alone':
        val = True
    else:
        val = False
    return val

In [217]:
df['male_abscent'] = df.apply(male_abscent, axis=1) # create new column 'male_abscent' using the above function

In [218]:
df['labforce_bool'] = df['labforce'].str.contains('yes')
# new column having true/false
# if yes was in there then it's true else false

In [219]:
df

,year,hhtype,citymetd,famsize,nchild,sex,age,marst,labforce,male_abscent,labforce_bool
0,1940,married-couple family household,not in a central city,2 family members present,0 children present,male,70,"married, spouse present","yes, in the labor force",False,True
1,1940,married-couple family household,not in a central city,2 family members present,0 children present,female,59,"married, spouse present","no, not in the labor force",False,False
2,1940,married-couple family household,not in a central city,1 family member present,0 children present,male,26,never married/single,"yes, in the labor force",False,True
3,1940,NaN,not in a central city,1 family member present,0 children present,male,24,never married/single,"yes, in the labor force",False,True
4,1940,married-couple family household,not in a central city,2 family members present,0 children present,male,58,"married, spouse present","no, not in the labor force",False,False
...,...,...,...,...,...,...,...,...,...,...,...
110729,1940,married-couple family household,"new york, n.y.-northeastern new jersey",3,1 child present,female,38,"married, spouse present","no, not in the labor force",False,False
110730,1940,NaN,not in a central city,1 family member present,0 children present,male,19,never married/single,"yes, in the labor force",False,True
110731,1940,"male householder, living alone",not in a central city,1 family member present,0 children present,male,64,never married/single,"yes, in the labor force",False,True
110732,1940,married-couple family household,"new york, n.y.-northeastern new jersey",2 family members present,0 children present,male,67,"married, spouse present","no, not in the labor force",False,False
110733,1940,married-couple family household,"new york, n.y.-northeastern new jersey",2 family members present,0 children present,female,58,"married, spouse present","no, not in the labor force",False,False

In [220]:
df.head(12)

,year,hhtype,citymetd,famsize,nchild,sex,age,marst,labforce,male_abscent,labforce_bool
0,1940,married-couple family household,not in a central city,2 family members present,0 children present,male,70,"married, spouse present","yes, in the labor force",False,True
1,1940,married-couple family household,not in a central city,2 family members present,0 children present,female,59,"married, spouse present","no, not in the labor force",False,False
2,1940,married-couple family household,not in a central city,1 family member present,0 children present,male,26,never married/single,"yes, in the labor force",False,True
3,1940,NaN,not in a central city,1 family member present,0 children present,male,24,never married/single,"yes, in the labor force",False,True
4,1940,married-couple family household,not in a central city,2 family members present,0 children present,male,58,"married, spouse present","no, not in the labor force",False,False
5,1940,married-couple family household,not in a central city,2 family members present,0 children present,female,55,"married, spouse present","no, not in the labor force",False,False
6,1940,married-couple family household,"new york, n.y.-northeastern new jersey",4,2,male,48,"married, spouse present","yes, in the labor force",False,True
7,1940,married-couple family household,"new york, n.y.-northeastern new jersey",4,2,female,42,"married, spouse present","no, not in the labor force",False,False
8,1940,married-couple family household,"new york, n.y.-northeastern new jersey",4,0 children present,female,14,never married/single,"no, not in the labor force",False,False
9,1940,married-couple family household,"buffalo, n.y",3,1 child present,male,46,"married, spouse present","yes, in the labor force",False,True
10,1940,married-couple family household,"buffalo, n.y",3,1 child present,female,56,"married, spouse present","no, not in the labor force",False,False
11,1940,married-couple family household,"buffalo, n.y",3,0 children present,female,21,never married/single,"yes, in the labor force",False,True

[Removing characters from a string in pandas](https://stackoverflow.com/questions/37919479/removing-characters-from-a-string-in-pandas)

[Extract only numbers and only string from pandas dataframe](https://stackoverflow.com/questions/60295698/extract-only-numbers-and-only-string-from-pandas-dataframe)

[How to extract specific content in a pandas dataframe with a regex?](https://stackoverflow.com/questions/36028932/how-to-extract-specific-content-in-a-pandas-dataframe-with-a-regex)

In [221]:
df['nchild_int'] = df['nchild'].str.extract(r'(\d+[.\d]*)')
df['famsize_int'] = df['famsize'].str.extract(r'(\d+[.\d]*)')

In [222]:
df['nchild_int'].unique() # checks for the unit values in this row

array(['0', '2', '1', '3', '4', '8', '5', '7', '6', '9'], dtype=object)

In [223]:
df['nchild_int'].sample() # returns one row in the series/column

19996    0
Name: nchild_int, dtype: object

In [224]:
df.info() # information like datatype on the entire dataframe/table

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110734 entries, 0 to 110733
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   year           110734 non-null  int64
 1   hhtype         105271 non-null  object
 2   citymetd       110734 non-null  object
 3   famsize        110734 non-null  object
 4   nchild         110734 non-null  object
 5   sex            110734 non-null  object
 6   age            110734 non-null  object
 7   marst          110734 non-null  object
 8   labforce       110734 non-null  object
 9   male_abscent   110734 non-null  bool
 10  labforce_bool  110734 non-null  bool
 11  nchild_int     110734 non-null  object
 12  famsize_int    110734 non-null  object
dtypes: bool(2), int64(1), object(10)
memory usage: 9.5+ MB

[Change the data type of a column or a Pandas Series](https://www.geeksforgeeks.org/change-the-data-type-of-a-column-or-a-pandas-series/)

In [225]:
df[['nchild_int']] = df[['nchild_int']].apply(pd.to_numeric) 
df[['famsize_int']] = df[['famsize_int']].apply(pd.to_numeric)

In [226]:
print(df['nchild_int'].dtype, df['nchild_int'].dtype) # checking a columns datatype

int64 int64

In [227]:
df.columns # attribute to check what the column names are

Index(['year', 'hhtype', 'citymetd', 'famsize', 'nchild', 'sex', 'age',
       'marst', 'labforce', 'male_abscent', 'labforce_bool', 'nchild_int',
       'famsize_int'],
      dtype='object')

[Data Cleaning and Preparation in Pandas and Python](https://datagy.io/pandas-data-cleaning/)

to help you work with null values

In [231]:
df.head(15)

,year,hhtype,citymetd,famsize,nchild,sex,age,marst,labforce,male_abscent,labforce_bool,nchild_int,famsize_int
0,1940,married-couple family household,not in a central city,2 family members present,0 children present,male,70,"married, spouse present","yes, in the labor force",False,True,0,2
1,1940,married-couple family household,not in a central city,2 family members present,0 children present,female,59,"married, spouse present","no, not in the labor force",False,False,0,2
2,1940,married-couple family household,not in a central city,1 family member present,0 children present,male,26,never married/single,"yes, in the labor force",False,True,0,1
3,1940,NaN,not in a central city,1 family member present,0 children present,male,24,never married/single,"yes, in the labor force",False,True,0,1
4,1940,married-couple family household,not in a central city,2 family members present,0 children present,male,58,"married, spouse present","no, not in the labor force",False,False,0,2
5,1940,married-couple family household,not in a central city,2 family members present,0 children present,female,55,"married, spouse present","no, not in the labor force",False,False,0,2
6,1940,married-couple family household,"new york, n.y.-northeastern new jersey",4,2,male,48,"married, spouse present","yes, in the labor force",False,True,2,4
7,1940,married-couple family household,"new york, n.y.-northeastern new jersey",4,2,female,42,"married, spouse present","no, not in the labor force",False,False,2,4
8,1940,married-couple family household,"new york, n.y.-northeastern new jersey",4,0 children present,female,14,never married/single,"no, not in the labor force",False,False,0,4
9,1940,married-couple family household,"buffalo, n.y",3,1 child present,male,46,"married, spouse present","yes, in the labor force",False,True,1,3
10,1940,married-couple family household,"buffalo, n.y",3,1 child present,female,56,"married, spouse present","no, not in the labor force",False,False,1,3
11,1940,married-couple family household,"buffalo, n.y",3,0 children present,female,21,never married/single,"yes, in the labor force",False,True,0,3
12,1940,married-couple family household,"buffalo, n.y",1 family member present,0 children present,male,57,"married, spouse absent","yes, in the labor force",False,True,0,1
13,1940,married-couple family household,"buffalo, n.y",1 family member present,0 children present,male,53,widowed,"no, not in the labor force",False,False,0,1
14,1940,married-couple family household,"buffalo, n.y",1 family member present,0 children present,male,44,"married, spouse absent","yes, in the labor force",False,True,0,1